body{
  background-color:blanchedalmond;
}
.main-title{
  justify-content: center;
  text-align: center;
  align-content: center;
}
#timer-label{
  justify-content: center;
  text-align: center;
  align-content: center;
}
.time-set{
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  align-items: center;
}
.dualContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:900px;
  margin:auto;
  justify-items: center;
  align-items: center;

}
.title-length{
  justify-content: center;
  align-content: center;
  text-align: center;
}
.display-title{
  justify-content: center;
  text-align: center;
  align-content: center;
}

.button-center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 5px 5px;
  width:900px;
  margin:auto;
  justify-items: center;
  align-items: center;
}